.app *:focus {
  outline: 0;
}

.app {
  position: absolute;
  top: -200px;
  width: 100%;
  height: 200px;
  background-color: #eee;
  z-index: 99999;
}

.logo {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IuWcluWxpF8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDE0OS45IDM2LjYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE0OS45IDM2LjY7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDojNjY2NjY2O308L3N0eWxlPjxnIGlkPSJYTUxJRF8yOF8iPjxwYXRoIGlkPSJYTUxJRF8yOV8iIGQ9Ik0xMy41LDJjMC44LDEuNywxLjQsMy4xLDEuNyw0LjFjMC4zLDEsMC41LDIsMC44LDMuMWMwLjIsMS4xLDAuNCwyLjIsMC42LDMuM2MwLjEsMS4xLDAuMywyLjMsMC4zLDMuN2wtMy44LDBsLTMuMi0yLjVsLTIsMi41bC0zLjQsMGMtMC4xLTEuMy0wLjMtMi41LTAuNS0zLjdjLTAuMi0xLjItMC4zLTItMC40LTIuNUMzLjUsOS40LDMuMyw4LjcsMyw3LjdDMi44LDYuNywyLjUsNS44LDIuMyw1QzIsNC4zLDEuNywzLjIsMS4yLDJoMy42QzUuNSwzLjYsNiw1LDYuNCw2LjJjMC40LDEuMiwwLjgsMi45LDEuMSw0LjlsMS42LTIuOWwzLjQsM2MtMC41LTIuMy0xLTMuOS0xLjMtNC44QzExLDUuNSwxMC4zLDQsOS40LDEuOUwxMy41LDJsLTAuMS0wLjFMMTMuNSwyeiIvPjxwYXRoIGlkPSJYTUxJRF8zMV8iIGQ9Ik0xOS43LDE2LjFjLTAuMS0xLjYtMC4yLTIuOS0wLjQtMy45cy0wLjQtMi4xLTAuNi0zYy0wLjItMC45LTAuNS0xLjktMC44LTIuOWMtMC4zLTEtMC44LTIuNC0xLjQtNC4zaDMuNmw2LjUsMGMwLjcsMS4zLDEuMSwyLjMsMS4yLDNMMjEuMyw1YzAuMywwLjksMC42LDEuNywwLjgsMi4zbDYuNiwwLjFjMC4yLDAuOCwwLjUsMS44LDAuNiwyLjloLTYuNmMwLjMsMS42LDAuNCwyLjUsMC40LDIuOWw2LjgsMC4xYzAuMSwxLDAuMSwyLDAuMiwyLjlMMTkuNywxNi4xTDE5LjcsMTYuMXoiLz48cGF0aCBpZD0iWE1MSURfMzNfIiBkPSJNMzIuNCwxNi4xYy0wLjItMi0wLjMtMy40LTAuNC00LjJjLTAuMS0wLjctMC4zLTEuNS0wLjUtMi40Yy0wLjItMC45LTAuNS0xLjctMC43LTIuNmMtMC4zLTAuOS0wLjUtMS43LTAuOC0yLjVDMjkuNiwzLjUsMjkuMywyLjgsMjksMkwzMS45LDJjMy4zLDAsNS4yLDAuMiw1LjgsMC40YzAuNSwwLjIsMSwwLjUsMS4yLDAuOXMwLjUsMC44LDAuNiwxLjJjMC4xLDAuNCwwLjIsMC45LDAuMywxLjVjMC4xLDAuNi0wLjEsMS4xLTAuNSwxLjVjMC41LDAuMiwwLjksMC41LDEuMSwwLjhjMC4zLDAuMywwLjUsMC42LDAuNywxYzAuMiwwLjQsMC40LDAuOSwwLjYsMS41YzAuMiwwLjYsMC4zLDEuMywwLjUsMmMwLjEsMC43LDAuMiwxLjMsMC4xLDEuN3MtMC4zLDAuNy0wLjYsMS4xYy0wLjMsMC40LTAuNiwwLjYtMSwwLjZjLTAuNCwwLTEuNCwwLjEtMy4xLDAuMWgtNC4xaC0xLjFMMzIuNCwxNi4xeiBNMzQsNi42YzEuMSwwLDEuOCwwLDItMC4xYzAuMi0wLjEsMC40LTAuMywwLjYtMC41YzAuMi0wLjIsMC4yLTAuNCwwLjItMC43Yy0wLjEtMC4zLTAuMi0wLjUtMC4zLTAuNlMzNiw0LjUsMzUuNyw0LjRjLTAuMywwLTAuOC0wLjEtMS41LTAuMWMtMC43LDAtMSwwLTEsMC4xYzAsMC4xLDAuMSwwLjMsMC4zLDAuN0MzMy43LDUuNiwzMy45LDYuMSwzNCw2LjZ6IE0zNS42LDEzLjVjMSwwLDEuNywwLDIuMy0wLjFjMC41LDAsMC44LTAuMywwLjktMC43YzAtMC40LDAtMC44LTAuMi0xLjNjLTAuMS0wLjUtMC4zLTAuOC0wLjUtMS4xYy0wLjItMC4yLTAuNS0wLjQtMS0wLjRzLTEtMC4xLTEuNS0wLjFjLTAuNSwwLTAuNywwLjEtMC43LDAuMWMwLDAuMSwwLjEsMC40LDAuMiwxQzM1LjMsMTEuNywzNS40LDEyLjUsMzUuNiwxMy41eiIvPjxwYXRoIGlkPSJYTUxJRF8zN18iIGQ9Ik00Ny4zLDUuNkw0OC4yLDdsNS4zLDBjMC40LDAuOSwwLjgsMS44LDEuMywyLjhjMC41LDEsMC44LDIsMC45LDIuOGwtNS4zLDBsMC41LDEuN2MtMS41LTEuNC0zLTMtNC43LTQuN0w0Ny4zLDUuNnogTTU2LjcsN2MwLjUsMC45LDAuOSwxLjgsMS4zLDIuN2MwLjQsMC45LDAuNywxLjksMC45LDIuOWgtMi4xYzAtMC43LTAuNC0xLjctMS0zLjFjLTAuNy0xLjQtMS4xLTIuMi0xLjItMi41TDU2LjcsN3ogTTU5LjcsMTIuNmMtMC4xLTAuNy0wLjMtMS4zLTAuNS0xLjhjLTAuMi0wLjYtMC44LTEuOC0xLjgtMy44TDU5LDdjMC41LDAuOSwwLjgsMS41LDAuOSwxLjhjMC4xLDAuMywwLjMsMC44LDAuNywxLjdjMC40LDAuOCwwLjUsMS42LDAuNiwyLjJINTkuN3ogTTYyLjIsMTIuNmMtMC4xLTAuNy0wLjMtMS4zLTAuNS0xLjhjLTAuMi0wLjUtMC40LTEtMC42LTEuNFM2MC42LDguMiw1OS45LDdoMWMwLjIsMC4zLDAuNCwwLjYsMC42LDFjMC4yLDAuNCwwLjMsMC43LDAuNCwwLjhDNjIsOSw2Mi4yLDkuMiw2Mi4zLDkuNWMwLjEsMC4zLDAuNSwxLjMsMSwzLjFMNjIuMiwxMi42eiBNNjQsMTIuNWMtMC4xLTAuNC0wLjEtMC43LTAuMi0wLjljMC0wLjItMC4xLTAuNC0wLjItMC42Yy0wLjEtMC4yLTAuMi0wLjYtMC40LTEuMWMtMC4xLTAuNS0wLjYtMS40LTEuNC0yLjlsMC42LDBjMC42LDAuOSwxLDEuNiwxLjEsMi4xczAuNCwxLDAuNiwxLjZjMC4yLDAuNiwwLjMsMS4yLDAuNCwxLjdMNjQsMTIuNXoiLz48cGF0aCBpZD0iWE1MSURfNDNfIiBjbGFzcz0ic3QwIiBkPSJNMTQuOCwyMS4zYy0wLjEsMS4zLTAuMiwyLjQtMC4zLDMuMWgtMy45Yy0wLjEsMS40LTAuMywyLjYtMC40LDMuNWMtMC4yLDAuOS0wLjQsMS44LTAuNiwyLjdjLTAuMiwwLjktMC41LDEuOC0wLjksMi44Yy0wLjMsMS0wLjYsMS42LTAuNywySDQuMWwxLjMtNGMwLjktMy4xLDEuMy01LjQsMS4zLTdIMi44TDMsMjIuM2wwLTFoMC42SDE0Ljh6Ii8+PHBhdGggaWQ9IlhNTElEXzQ1XyIgY2xhc3M9InN0MCIgZD0iTTE0LjIsMzUuNGwwLjgtMS43YzAuNS0xLjUsMC44LTIuNywxLTMuNXMwLjQtMS42LDAuNS0yLjVjMC4yLTAuOSwwLjMtMS44LDAuNC0yLjZjMC4xLTAuOCwwLjEtMS41LDAuMi0yLjFzMC0xLjIsMC0xLjdsMy45LDAuMWMtMC4xLDEuNy0wLjIsMy0wLjMsMy45Yy0wLjEsMS0wLjMsMi4xLTAuNSwzLjNjLTAuMywxLjItMC41LDIuMy0wLjksMy4zYy0wLjMsMS0wLjgsMi4yLTEuMywzLjZIMTQuMnoiLz48cGF0aCBpZD0iWE1MSURfNDdfIiBjbGFzcz0ic3QwIiBkPSJNMjAuOCwzNS4zYzAuOC0xLjcsMS40LTMuMSwxLjctNC4xYzAuMy0xLDAuNi0yLDAuOS0zYzAuMy0xLDAuNS0yLjEsMC43LTMuMmMwLjItMS4xLDAuMy0yLDAuMy0yLjhjMC0wLjcsMC4xLTEuMSwwLjEtMWMyLjMsMCwzLjgsMCw0LjMsMGwxLjksMy40bDMtMy40bDMuOSwwYzAsMS4zLTAuMSwyLjUtMC4zLDMuN2MtMC4yLDEuMS0wLjQsMi0wLjUsMi41Yy0wLjEsMC41LTAuMywxLjMtMC42LDIuM2MtMC4zLDEtMC42LDEuOC0wLjksMi42cy0wLjgsMS44LTEuNCwzLjFoLTMuNmMwLjktMi4zLDEuNS0zLjksMS44LTQuOHMwLjUtMi4zLDAuNy00bC0zLjUsMy4ybC0xLjgtMi45Yy0wLjQsMS44LTAuOCwzLjItMS4xLDQuMWMtMC4zLDAuOS0wLjcsMS45LTEuMiwyLjljLTAuNSwxLTAuNywxLjYtMC44LDEuNkwyMC44LDM1LjNsMCwwLjFMMjAuOCwzNS4zeiIvPjxwYXRoIGlkPSJYTUxJRF80OV8iIGNsYXNzPSJzdDAiIGQ9Ik0zNy40LDM1LjNjMC43LTEuNiwxLjItMi45LDEuNS0zLjljMC40LTEuMSwwLjctMi4xLDAuOS0zczAuNC0xLjksMC42LTIuOWMwLjItMSwwLjQtMi40LDAuNy00LjJINDVsNi40LDBjLTAuMSwxLjMtMC4yLDIuMi0wLjQsMi45bC02LjYtMC4xYy0wLjEsMC45LTAuMywxLjctMC40LDIuM2w2LjYsMC4xYy0wLjIsMC44LTAuNCwxLjgtMC44LDIuOWgtNi42Yy0wLjUsMS42LTAuOSwyLjUtMSwyLjlsNi43LDAuMWMtMC40LDEtMC44LDItMS4zLDIuOUwzNy40LDM1LjNMMzcuNCwzNS4zeiIvPjxwYXRoIGlkPSJYTUxJRF81MV8iIGNsYXNzPSJzdDAiIGQ9Ik01NiwzNS4zYzAuOC0xLjcsMS40LTMuMSwxLjctNC4xYzAuMy0xLDAuNi0yLDAuOS0zYzAuMy0xLDAuNS0yLjEsMC43LTMuMmMwLjItMS4xLDAuMy0yLDAuMy0yLjhjMC0wLjcsMC4xLTEuMSwwLjEtMWMyLjMsMCwzLjgsMCw0LjMsMGwxLjksMy40bDMtMy40bDMuOSwwYzAsMS4zLTAuMSwyLjUtMC4zLDMuN2MtMC4yLDEuMS0wLjQsMi0wLjUsMi41Yy0wLjEsMC41LTAuMywxLjMtMC42LDIuM2MtMC4zLDEtMC42LDEuOC0wLjksMi42cy0wLjgsMS44LTEuNCwzLjFoLTMuNmMwLjktMi4zLDEuNS0zLjksMS44LTQuOHMwLjUtMi4zLDAuNy00bC0zLjUsMy4ybC0xLjgtMi45Yy0wLjQsMS44LTAuOCwzLjItMS4xLDQuMWMtMC4zLDAuOS0wLjcsMS45LTEuMiwyLjljLTAuNSwxLTAuNywxLjYtMC44LDEuNkw1NiwzNS4zbDAsMC4xTDU2LDM1LjN6Ii8+PHBhdGggaWQ9IlhNTElEXzUzXyIgY2xhc3M9InN0MCIgZD0iTTg2LDIxLjJjMC4xLDAuNiwwLjIsMS4yLDAuMiwxLjhzMCwxLjQsMCwyLjRjLTAuMSwwLjktMC4yLDItMC40LDNjLTAuMiwxLjEtMC41LDIuMS0wLjcsMy4xcy0wLjcsMi4yLTEuMywzLjhoLTMuNWwwLjktMi42bDAuMy0xLjJsLTMuNS0wLjFsLTAuNiwxLjlsLTAuOSwyaC0zLjZjMC41LTEuMywwLjktMi40LDEuMi0zLjNjMC4zLTAuOSwwLjUtMS44LDAuOC0yLjZzMC40LTEuOCwwLjUtMi43YzAuMS0wLjksMC4zLTEuOCwwLjQtMi43YzAuMi0wLjksMC41LTEuNiwxLjItMi4xYzAuNi0wLjUsMS4xLTAuOCwxLjYtMC44YzAuNCwwLDEuMiwwLDIuNCwwQzgyLDIxLDgzLjcsMjEuMSw4NiwyMS4yeiBNNzguMiwyOC41bDMuNywwLjFjMC4zLTEuMiwwLjUtMiwwLjUtMi41YzAtMC41LDAuMS0xLjIsMC4yLTIuM2MtMS44LTAuMS0yLjgtMC4xLTMuMSwwLjJjLTAuMiwwLjItMC40LDAuNi0wLjYsMS4xQzc4LjksMjUuNCw3OC43LDI2LjYsNzguMiwyOC41TDc4LjIsMjguNXoiLz48cGF0aCBpZD0iWE1MSURfNTZfIiBjbGFzcz0ic3QwIiBkPSJNODguOSwzNS40Yy0wLjYsMC0xLjEtMC4yLTEuNC0wLjVzLTAuNS0wLjctMC41LTFjMC0wLjQsMC4xLTAuOSwwLjQtMS44YzAuMi0wLjgsMC40LTEuOCwwLjctMi45YzAuMi0xLjEsMC40LTIuMSwwLjUtMi45YzAuMS0wLjgsMC4yLTEuNCwwLjMtMS45YzAuMS0wLjUsMC4yLTEsMC4zLTEuNGMwLjEtMC41LDAuNC0wLjksMC44LTEuMmMwLjQtMC40LDAuOS0wLjYsMS42LTAuNmMwLjYsMCwxLjYsMCwyLjksMGMxLjMsMCwyLjksMC4xLDQuOCwwLjFsLTAuMSwyLjFsLTAuMSwwLjVMOTksMjQuMmwtMi42LTAuMWMtMiwwLTMuMSwwLTMuMiwwLjFjLTAuMSwwLjEtMC4zLDAuMi0wLjQsMC40cy0wLjIsMC41LTAuMywxcy0wLjIsMS4xLTAuNCwxLjlzLTAuMywxLjQtMC40LDEuOWMtMC4xLDAuNS0wLjIsMC45LTAuMiwxLjJjMCwwLjIsMCwwLjQsMCwwLjVjMCwwLjEsMC4xLDAuMywwLjMsMC41YzAuMiwwLjIsMC43LDAuMywxLjcsMC4zaDQuMWwtMC4zLDEuMWwtMC43LDIuMmgtNy41SDg4Ljl6Ii8+PHBhdGggaWQ9IlhNTElEXzU4XyIgY2xhc3M9InN0MCIgZD0iTTk4LjUsMzUuM2MwLjctMS43LDEuMi0zLDEuNS0zLjhjMC4zLTAuOCwwLjUtMS43LDAuOC0yLjZjMC4yLTAuOSwwLjQtMS44LDAuNS0yLjdjMC4xLTAuOSwwLjItMS43LDAuMy0yLjRzMC4yLTEuNiwwLjMtMi43aDIuNmwxLjUsMGMtMC4xLDEuMy0wLjIsMi4zLTAuMywyLjlzLTAuMiwxLjUtMC40LDIuNWwzLjMsMC4xYzAuMi0xLjMsMC40LTIuNCwwLjUtMy4zczAuMS0xLjYsMC4xLTIuMWw0LDBsLTAuMiwyLjFjLTAuMiwxLjYtMC4zLDIuOS0wLjUsMy45Yy0wLjIsMS0wLjQsMS45LTAuNiwyLjhjLTAuMiwwLjktMC41LDEuNy0wLjgsMi41Yy0wLjMsMC44LTAuNywxLjgtMS4yLDIuOWgtMy44YzAuNi0xLjUsMS0yLjcsMS4yLTMuNGMwLjItMC43LDAuNS0xLjUsMC43LTIuNGwtMy4zLTAuMWMtMC4yLDAuOC0wLjUsMS41LTAuNywyLjJjLTAuMywwLjctMC44LDEuOS0xLjUsMy42SDk4LjVMOTguNSwzNS4zeiBNMTA3LjMsMzJDMTA3LjEsMzIuNywxMDcuMSwzMi43LDEwNy4zLDMyQzEwNy42LDMxLjMsMTA3LjYsMzEuMywxMDcuMywzMnogTTExMS45LDMwQzExMi4xLDI5LDExMi4xLDI5LDExMS45LDMwQzExMS43LDMwLjksMTExLjcsMzAuOSwxMTEuOSwzMHoiLz48cGF0aCBpZD0iWE1MSURfNjJfIiBjbGFzcz0ic3QwIiBkPSJNMTEyLjksMzUuNGwwLjgtMS43YzAuNS0xLjUsMC44LTIuNywxLTMuNXMwLjQtMS42LDAuNS0yLjVjMC4yLTAuOSwwLjMtMS44LDAuNC0yLjZjMC4xLTAuOCwwLjEtMS41LDAuMi0yLjFzMC0xLjIsMC0xLjdsMy45LDAuMWMtMC4xLDEuNy0wLjIsMy0wLjMsMy45cy0wLjMsMi4xLTAuNSwzLjNjLTAuMywxLjItMC41LDIuMy0wLjksMy4zYy0wLjMsMS0wLjgsMi4yLTEuMywzLjZIMTEyLjl6Ii8+PHBhdGggaWQ9IlhNTElEXzY0XyIgY2xhc3M9InN0MCIgZD0iTTExOS42LDM1LjNjMC44LTEuOCwxLjQtMy4yLDEuOC00LjRjMC40LTEuMSwwLjctMi4zLDAuOS0zLjRjMC4yLTEuMSwwLjQtMi4yLDAuNi0zLjFjMC4yLTAuOSwwLjMtMS43LDAuMy0yLjNzMC4xLTAuOSwwLjEtMC45aDMuMWwzLDcuN2MwLjUtMi4yLDAuOC0zLjksMC45LTQuOWMwLjEtMSwwLjItMiwwLjItMi44aDMuOWMtMC4zLDMuMi0wLjgsNS44LTEuMyw3LjhjLTAuNiwyLTAuOSwzLjItMS4xLDMuN2MtMC4yLDAuNS0wLjYsMS40LTEuMSwyLjdsLTMsMGwtMi41LTUuN2MtMC42LDItMS4xLDMuMy0xLjIsMy44Yy0wLjIsMC41LTAuNSwxLjEtMC45LDJMMTE5LjYsMzUuM0wxMTkuNiwzNS4zeiIvPjxwYXRoIGlkPSJYTUxJRF82Nl8iIGNsYXNzPSJzdDAiIGQ9Ik0xMzQuNCwzNS4zYzAuNy0xLjYsMS4yLTIuOSwxLjUtMy45czAuNy0yLjEsMC45LTNzMC40LTEuOSwwLjYtMi45YzAuMi0xLDAuNC0yLjQsMC43LTQuMmgzLjhsNi40LDBjLTAuMSwxLjMtMC4yLDIuMi0wLjQsMi45bC02LjYtMC4xYy0wLjEsMC45LTAuMywxLjctMC40LDIuM2w2LjYsMC4xYy0wLjIsMC44LTAuNCwxLjgtMC44LDIuOWgtNi42Yy0wLjUsMS42LTAuOSwyLjUtMSwyLjlsNi43LDAuMWMtMC40LDEtMC44LDItMS4zLDIuOUwxMzQuNCwzNS4zTDEzNC40LDM1LjN6Ii8+PC9nPjwvc3ZnPg==);
  width: 150px;
  height: 36.5px;
  margin: 15px auto;
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  font-family: Helvetica, arial;
  line-height: 1.4;
  cursor: pointer;
}

.buttons {
  margin: 30px auto 20px;
  text-align: center;
}

.googleCacheBtn {
  margin: 0;
  margin-right: 15px;
  padding: 10px 20px;
  border: 0;
  border-radius: 4px;
  background-color: #d0d0d0;
  color: #333;
  font-size: 13px;
  box-shadow: none;
  transition: background-color .2s ease;
}

.archiveBtn {
  margin: 0;
  padding: 10px 20px;
  border: 0;
  border-radius: 4px;
  background-color: #d0d0d0;
  color: #333;
  font-size: 13px;
  box-shadow: none;
  transition: background-color .2s ease;
}

.googleCacheBtn:hover,
.googleCacheBtn:focus,
.archiveBtn:hover,
.archiveBtn:focus {
  border: 0;
  background-color: #c0c0c0;
  color: #333;
  box-shadow: none;
}

.normal {
  background: #fff;
  margin: 200px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.normal input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.normal input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.normal input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.normal h1 {
  position: absolute;
  top: -155px;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}
